<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	Starcat Studios is currently develoing a PC game for the world! This game is an arcade like unique experience that anyone can enjoy. It is written in C# with the XNA framework, so it is not hard to imagine this game also being ported to the Xbox at sometime in the future. The game is still in development, but significant process is being made nearly every day. We hope to be in a good enough state to release by the summer. Stay tuned as we release more information!
	<br>
	<br>
	So what is Starcat Studios? Right now, it is a group of three young computer scientists who have a dream; a dream that is yet to be revealed. Come Friday much more of this will be revealed, including but not limited to:
	<ul>
		<li>Why we call ourselves the Starcats</li>
		<li>What computer science-type things we have been doing</li>
		<li>Why you should be so excited about us</li>
		<li>What Shapes have to do with all of this</li>
	</ul>
</p>
<p>
	Curious? Wnat to know more? Keep on coming over and you will soon learn the answers to the questions so fiercely burning in your mind.
</p>
<p>
	<%= link_to "Learn about our Fair Use", about_fairuse_path %>
</p>
