<% provide(:title, 'About') %>
<h1>About</h1>
<p>
	So what is Starcat Studios? Right now, it is a group of three young computer scientists who have a dream; a dream that is yet to be revealed. Come Friday much more of this will be revealed, including but not limited to:
	<ul>
		<li>Why we call ourselves the Starcats</li>
		<li>What computer science-type things we have been doing</li>
		<li>Why you should be so excited about us</li>
		<li>What Shapes have to do with all of this</li>
	</ul>
</p>
<p>
	Curious? Wnat to know more? Keep on coming over and you will soon learn the answers to the questions so fiercely burning in your mind.
</p>
