<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
	This is the contact page for the Starcat Studios Website! Our information is in the process of being disseminated among the interwebs to reach you eventually.
</p>
