<% provide(:title, 'Fair Use') %>
<h1>Fair Use of the StarCats</h1>
<p>
We are making a commentary on the human condition; specifically the fascination with cats that many frequenters of the internet appear to have. Cats, which are domestic animals of the most awesome of variety, are shown in the most faraway of places; namely, space. We all wish to go on adventures of our own one day, and to that end we are like the Starcats. We will toy with our own respective realities as we ponder our infinite capacity on the new world of the internet; much like these cats ponder space. This new frontier is the land of tomorrow, and on the internet we shall wander through our stars of the new day with our cat companions.
</p>