<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
	"What am I doing here?" is a question you may be asking yourself right now as you view this website. Starcat Studios wishes to help you find an answer to this question as well as many others that plague you. You are on a webpage on the internet. There is not much to do aside from click on the links and navigate through the pages and see what you like...for now. Hopefully this will change soon. <br>
	Like what you see? Want to know more? Go to the Contact page to contact us; go to the about page to learn more about us.
</p>
