<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Starcat Studios</h1>
<h2>
	Welcome to Starcat Studios
</h2>
	<%= link_to image_tag("PlayfulSC.jpg", alt: "Playful Starcat"), 'http://reddit.com/r/starcat' %>
</div>
