<% provide(:title, 'Home') %>
<div class="center hero-unit">
<h1>Starcat Studios</h1>
<h2>
	Welcome to Starcat Studios
</h2>
	<%= link_to image_tag("PlayfulSC.jpg", alt: "Playful Starcat"), 'https://github.com/HeapsOfRam/rstarcat', :target => '_blank' %>
	<p>
	Click the cat to see our code
</p>
</div>
