<footer class="footer">
	<small>
		Website coded by Ryan March in Ruby on Rails
	</smalL>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>